<div class="header_icons">
  <i class="material-icons">videocam</i>
  <i class="material-icons">apps</i>
  <i class="material-icons">notifications</i>
  <button class="btn" *ngIf="!loggedin()" routerLink="/signup">
    <i class="material-icons">account_circle </i>
    <span class="text">SIGN UP </span>
  </button>
  <div
    *ngIf="loggedin()"
    class="dropdown mr-5"
    dropdown
    dropdownToggle
    (click)="(false)"
  >
    <ngx-avatar name="{{ loggedinuser }}" class="profile"></ngx-avatar>

    <div *dropdownMenu class="dropdown-menu">
      <span class="dropdown-item" (click)="onlogout()">Log Out</span>
    </div>
  </div>
</div>
